﻿@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
@model MyApp.Models.Post

@using (Html.BeginForm(FormMethod.Post, new { }))
{
    @Html.LabelFor(m => m.Title)
    @Html.TextBoxFor(m => m.Title)
    <hr />
    @Html.LabelFor(m => m.Content)
    @Html.TextAreaFor(m => m.Content)
    <hr />
    <input type="submit" value="Save" />
}