﻿@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<MyApp.Models.Post>

<section class="row">
    @foreach (var post in Model)
    {
        <article class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="http://placehold.it/300x300" alt="@post.Title">
                <div class="caption">
                    <h3><a href="/posts/view/@post.Id">@post.Title</a></h3>
                    <p>@post.Content</p>
                    <p>
                        <a href="/posts/view/@post.Id" class="btn btn-primary"><i class="fa fa-eye"></i></a>
                        <a href="/posts/edit/@post.Id" class="btn btn-default"><i class="fa fa-pencil"></i></a>
                    </p>
                    <p><i class="fa fa-calendar"></i> @post.CreatedAt / @post.UpdatedAt</p>
                </div>
            </div>
        </article>
        
    }
</section>